body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-gap: 20px; /* Space between columns and rows */
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    height: 20%;
}

.image-column {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    font-size: 20px;
    margin-top: 10px;
}
h1{
  font-size: 20px;
  align-content: center;
  margin-top: 10px;
}
p {
    font-size: 14px;
    color: #666;
}
/* start navigation */
.navbar-default {
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    border: none;
    margin-bottom: 0;
  }
  .navbar-brand, .navbar-nav li a {
    line-height: 28px;
  }
  .navbar-default .navbar-brand  {
    color: #5C5C5C;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .navbar-default .navbar-nav li a {
    font-size: 12px;
    letter-spacing: 1px;
  }
  /* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    text-align: center;
    padding: 35px;
    max-height:19px;
  }